body {
    background-color: azure;
  }
  #div1 p{
    color: blue;
  }
  #div2 {
    background-color: #c1d1ec;
  }
  #div2 #outroTitulo2 {
    color: red;
  }
  #div3:hover{
    background-color: #c1d1ec;
  }
  #div3 p:hover{
    transform: scaleX(1.03);
  }